.f-layout {
  display: flex;
  flex-direction: column;

  .f-layout-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
    padding: 0 20px;
  }

  .f-layout-main {
    padding: 0 20px;
  }
}